{
  "id": "{output_catalog_id}",
  "name": "Data Validation Library Quick Start Example Testing Results",
  "summary": "Output catalog of the Testing component in the Data Validation Library Quick Start Example",
  "description": "This is the output catalog of the Testing component in the Data Validation Library Quick Start Example. The Testing component assigned each input partition a test status, in this case, PASS or FAIL. Each partition also contains the line segment from the candidate input catalog for context.\n\nThe Testing component considered 9-point line segments (octagons) as PASS, and 2-point line segments (horizontal lines) as FAIL.",
  "tags": ["VALIDATION", "TESTING RESULTS"],
  "layers": [
    {
      "contentType": "application/x-protobuf",
      "id": "test-result",
      "name": "test-result",
      "summary": "Results from the Testing component of the Data Validation Library Quick Start Example",
      "description": "Results from the Testing component of the Data Validation Library Quick Start Example. Each partition has a result status, in this case PASS or FAIL, and the line segment from the candidate input catalog for context.\n\nThe Testing component considered 9-point line segments (octagons) as PASS, and 2-point line segments (horizontal lines) as FAIL.",
      "layerType": "versioned",
      "partitioning": {
        "scheme": "heretile",
        "tileLevels": [
          12
        ]
      },
      "schema": {
        "hrn": "hrn:here:schema::olp-here:com.here.platform.schema.data.validation.example.quickstart:testing_v1:1.0.5"
      },
      "coverage": {
        "adminAreas": ["DE"]
      },
      "tags": ["VALIDATION", "SEGMENTS", "TESTING RESULTS"],
      "volume": {
        "properties": {
          "maxMemoryPolicy": "failOnWrite",
          "packageType": "small"
        },
        "volumeType": "durable"
      }
    },
    {
      "contentType": "application/octet-stream",
      "id": "state",
      "name": "state",
      "summary": "Internal layer used by the pipeline that creates and regularly updates this catalog. Not intended for use by the consumers of this catalog.",
      "description": "Internal layer used by the pipeline that creates and regularly updates this catalog. Not intended for use by the consumers of this catalog.",
      "layerType": "versioned",
      "partitioning": {
        "scheme": "generic"
      },
      "volume": {
        "properties": {
          "maxMemoryPolicy": "failOnWrite",
          "packageType": "small"
        },
        "volumeType": "durable"
      }
    }
  ]
}
