{
  "id": "{output_catalog_id}",
  "name": "Data Validation Library Quick Start Example Comparison Results",
  "summary": "Output catalog of the Comparison component in the Data Validation Library Quick Start Example",
  "description": "This is the output catalog of the Comparison component in the Data Validation Library Quick Start Example.\n\nIt contains the differences from both a HERE Tile-partitioned layer and a Generic-partitioned layer between two versions of the candidate catalog that was used as input to the Comparison component.",
  "tags": ["VALIDATION", "COMPARISON RESULTS"],
  "layers": [
    {
      "contentType": "application/x-protobuf",
      "id": "heretile-comparison-results",
      "name": "heretile-comparison-results",
      "summary": "Contains differences from the linesegments layer between two versions of the comparison input catalog",
      "description": "Each HERE Tile in this layer contains the line segment from version 0, and the line segment from version 1 of the comparison input catalog, if those segments differed.\n\nSince our input catalog had vertical lines in version 1 where version 0 had horizontal lines, only those partitions are contained in this layer. That is, partitions in the input which contained octagons in both versions are not present here.",
      "layerType": "versioned",
      "partitioning": {
        "scheme": "heretile",
        "tileLevels": [
          12
        ]
      },
      "schema": {
        "hrn": "hrn:here:schema::olp-here:com.here.platform.schema.data.validation.example.quickstart:comparison_v1:1.0.5"
      },
      "coverage": {
        "adminAreas": ["DE"]
      },
      "tags": ["VALIDATION", "SEGMENTS", "COMPARISON RESULTS"],
      "volume": {
        "properties": {
          "maxMemoryPolicy": "failOnWrite",
          "packageType": "small"
        },
        "volumeType": "durable"
      }
    },
    {
      "contentType": "application/octet-stream",
      "id": "generic-comparison-results",
      "name": "generic-comparison-results",
      "summary": "Contains differences from the linesegments layer between two versions of the comparison input catalog",
      "description": "This layer contains differences from the state layer between two versions of the input comparison catalog. It has a single partition, \"state-fingerprints\", indicating that it found a difference in the \"fingerprints\" partition of the \"state\" layer.\n\nThe partition content is simply the string \"Checksum differs\". The Comparison component detects checksum differences by default, and allows the developer to implement additional callbacks to extract more context from the compared contents if desired.",
      "layerType": "versioned",
      "partitioning": {
        "scheme": "generic"
      },
      "tags": ["VALIDATION", "COMPARISON RESULTS"],
      "volume": {
        "properties": {
          "maxMemoryPolicy": "failOnWrite",
          "packageType": "small"
        },
        "volumeType": "durable"
      }
    },
    {
      "contentType": "application/octet-stream",
      "id": "state",
      "name": "state",
      "summary": "Internal layer used by the pipeline that creates and regularly updates this catalog. Not intended for use by the consumers of this catalog.",
      "description": "Internal layer used by the pipeline that creates and regularly updates this catalog. Not intended for use by the consumers of this catalog.",
      "layerType": "versioned",
      "partitioning": {
        "scheme": "generic"
      },
      "volume": {
        "properties": {
          "maxMemoryPolicy": "failOnWrite",
          "packageType": "small"
        },
        "volumeType": "durable"
      }
    }
  ]
}
